table,th,td	{	border:none;  border-collapse:collapse; font-family:corbel,'helvetica neue','trebuchet ms',arial,helvetica,sans-serif; font-size:1em; line-height:1.5em}
table		{	background:black; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.3); -moz-box-shadow:1px 1px 10px rgba(0,0,0,0.3)}
caption		{	text-align:left; text-transform:uppercase; font-size:150%; font-weight:bold; padding:1.5em 0; color:black}

thead, 
tfoot			{	color:white; }

thead th				{	padding:0.5em 1em; text-transform:uppercase; text-align:left; }
thead th:first-child	{	width:10em; text-align:right; }

tbody td,
tbody th				{	font-size:100%; padding:0.5em 1em; background-color:#e5e5e5; vertical-align:top}
tbody th				{	color:#222;	text-align:right; background-image:url(tabel.png); background-repeat:repeat-y; border-right:1px solid #ccc}
tbody td:last-child		{	border-right:1px solid black}

tbody tr.odd th, 
tbody tr.odd td			{	background-color:#eee; color:#222}

tfoot td,
tfoot th				{	border:none; padding:0.5em 1em 2em; font-size:130%}
tfoot th				{	text-align:right}

table a:link	{	line-height:1em; color:black; display:inline-block; padding:3px 7px; margin:-3px -7px}
table a:visited	{	color:#555}
table a:hover	{	text-decoration:none; background:black; color:white; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px}

::-moz-selection{	background:#202020; color:white}
::selection		{	background:#202020; color:white}

thead ::-moz-selection, 
tfoot ::-moz-selection	{	background:white; color:#202020}
thead ::selection, 
tfoot ::selection		{	background:white; color:#202020}

.cuadro{
	width:350px;
	height:288px;
	background-color:#eeeeee;
	border: thin solid #c6c6c6;
	/*float:left;*/
	margin:0 auto 0 auto;
}

.login{
	width:300px;
	margin:0 auto 0 auto;
}

.iniciar{	
	font-size:20px;
	font-weight:bold;
	padding-left:20px;
}

.caja input{
	width:150px;
	margin-left:20px;
}

.titulos{
	float:left;
	width:180px;
	line-height:23px;
	font: 12px Arial, sans-serif;
	padding-left:20px;
}

.enviar{
	padding-top:25px;
	padding-left:20px;
}

.enviar input{
	width:92px;
	height:24px;
	border:0;
	color:#fff;
	background-color:#039;
}

.login a{
	font: 12px Arial, sans-serif;
	color:#1757c0;
	margin-left:20px;
}

.necesario{
	font: 9px Arial, sans-serif;
	color:#1757c0;
	text-align:right;
	margin-right:10px;
}

/* 
	Classy yet somehow fancy
	table style created by Radu Bilei
	for Chris Heilmann's CSS Table Gallery
	http://twitter.com/radubilei
	http://icant.co.uk/csstablegallery
*/
