body {
	margin: 0;
	padding: 0;
	background: url(images/bg01.jpg);
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #5A554E;
}

h1, h2, h3 {
	margin: 0;
}

h1, h2 {
	font-weight: normal;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

p, ol, ul, dl {
	margin-top: 0;
	text-align: justify;
	line-height: 2.2;
}

ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

strong {
	color: #4A3E29;
}

a {
	color: #506C00;
}

a:hover {
	text-decoration: none;
}

a img {
	border: 0;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	margin: 0 auto;
}

img.alignleft {
	margin: 0 27px 0 0;
}

img.alignright {
	margin: 0 0 0 27px;
}

img.border {
	padding: 4px;
	border: 1px solid #E9E4D8;
}

/* Wrapper */

#wrapper {
	background: url(images/bg02.jpg) repeat-x;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.clearfix {
	clear: both;
}

/* Header */

#header {
	height: 211px;
	background: url(images/bg04.jpg);
}

/* Logo */

#logo {
	float: left;
	width: 308px;
	height: 211px;
}

#logo h1, #logo p {
	text-transform: lowercase;
	line-height: 1;
}

#logo h1 {
	padding: 137px 0 0 50px;
	letter-spacing: -2px;
	font-size: 34px;
	color: #FFFFFF;
}

#logo h1 sup {
	font-size: 18px;
	font-weight: normal;
}

#logo p {
	padding: 0 0 0 50px;
	font-size: 13px;
	color: #F8AB80;
}

#logo a {
	text-decoration: none;
}

#logo a:hover {
	text-decoration: underline;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo p a {
	color: #F8AB80;
}

/* Banner */

#banner {
	float: left;
	height: 118px;
	padding: 93px 0 0 0;
}

/* Menu */

#menu {
	height: 76px;
	background: url(images/bg04.jpg) no-repeat 0 -211px;
}

#menu ul {
	height: 67px;
	margin: 0 25px;
	padding: 9px 0 0 14px;
	background: url(images/bg05.jpg);
	list-style: none;
	line-height: 1
}

#menu li {
	float: left;
	height: 35px;
	padding: 15px 20px 0 20px;
}

#menu li.active {
	background: url(images/bg06.jpg) no-repeat;
}

#menu a {
	text-transform: lowercase;
	text-decoration: none;
	letter-spacing: -1px;
	font-size: 18px;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}

/* Bar */

.bar {
	height: 48px;
	margin: 0 25px;
	background: url(images/bg07.jpg);
}

.bar .text {
	float: left;
	padding: 17px 0 0 25px;
	text-transform: lowercase;
	font-size: 14px;
	color: #809064;
}

/* Top Bar */

#top-bar {
	background: url(images/bg04.jpg) no-repeat 0 -287px;
}

/* Search */

#search {
	float: right;
	width: 245px;
	height: 48px;
	background: url(images/bg08.jpg) no-repeat 0 12px;
}

#search form, #search fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

#search .input-text {
	float: left;
	width: 178px;
	margin: 12px 0 0 0;
	padding: 4px 10px;
	font: inherit;
	line-height: normal;
	border: none;
	background: none;
	color: inherit;
}

#search .input-submit {
	display: none;
}

/* Page */

#page {
	background: url(images/bg03.jpg) repeat-y;
}

/* Content */

#content {
	float: left;
	width: 950px;
	padding: 0 24px 0 25px;
	background: url(images/bg04.jpg) no-repeat 0 -335px;
}

/* Post */

.post {
}

.post .title, .post .date {
	padding: 0 25px;
}

.post .title {
	margin: 0;
	padding-top: 50px;
	line-height: normal;
	font-size: 32px;
	color: #5A5544;
}

.post .title a {
	text-decoration: none;
	color: #5A5544;
}

.post .title a:hover {
	text-decoration: underline;
}


.post .date {
	line-height: normal;
	color: #ACAAA1;
}

.post .entry {
	margin: 0 25px;
	padding: 20px 0;
	border-top: 1px solid #E5E1D8;
}

.post .meta {
	height: 53px;
	background: #E5ECDB;
	border-bottom: 1px solid #DDE5CE;
}

.post .meta p {
	line-height:  normal;
}

.post .meta .tags {
	float: left;
	padding: 20px 0 0 25px;
}

.post .meta .links {
	float: right;
	padding: 20px 25px 0 0;
}

.post .meta .comments {
	margin-right: 30px;
	padding-left: 22px;
	background: url(images/img04.gif) no-repeat 0 50%;
}

.post .meta .more {
	padding-left: 17px;
	background: url(images/img05.gif) no-repeat 0 50%;
}


	

/* Sidebar */

#sidebar {
	float: right;
	width: 246px;
	padding: 24px 50px 0 0;
	background: url(images/bg04.jpg) no-repeat 100% -335px;
}

#sidebar ul {
	margin: 0;
	padding: 0 0 0 25px;
	list-style: none;
	line-height: normal;
	border-left: 1px solid #E5E1D8;
}

#sidebar li {
}

#sidebar li ul {
	padding: 0;
	line-height: 3.5;
	border: none;
}

#sidebar li li {
}

#sidebar h2 {
	margin: 0 0 20px 0;
	padding: 20px 0 5px 0;
	border-bottom: 1px solid #E5E1D8;
}

/* 2 Columns */

.two-cols {
	margin: 0 25px;
	padding: 35px 35px 0 35px;
	background: #28241E url(images/bg09.jpg) repeat-x;
	color: #736F6A;
}

.two-cols .col1 {
	float: left;
	width: 595px;
}

.two-cols .col2 {
	float: right;
	width: 210px;
	padding: 0 0 0 25px;
	border-left: 1px solid #423C31;
}

.two-cols h2 {
	font-size: 26px;
	color: #FFFFFF;
}

.two-cols a {
	color: #736F6A;
}

/* Footer */

#footer {
	background: url(images/bg10.jpg) no-repeat;
	padding: 55px 0;
}

#footer p {
	text-align: center;
	color: #8F8B83;
}

#footer a {
	color: #8F8B83;
}

/* Tablas */
table,th,td	{	border:none;  border-collapse:collapse; font-family:corbel,'helvetica neue','trebuchet ms',arial,helvetica,sans-serif; font-size:1em; line-height:1.5em}
table		{	background:black; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.3); -moz-box-shadow:1px 1px 10px rgba(0,0,0,0.3)}
caption		{	text-align:left; text-transform:uppercase; font-size:150%; font-weight:bold; padding:1.5em 0; color:black}

thead, 
tfoot			{	color:white; }

thead th				{	padding:0.5em 1em; text-transform:uppercase; text-align:left; }
thead th:first-child	{	width:10em; text-align:right; }

tbody td,
tbody th				{	font-size:100%; padding:0.5em 1em; background-color:#e5e5e5; vertical-align:top}
tbody th				{	color:#222;	text-align:right; background-image:url(tabel.png); background-repeat:repeat-y; border-right:1px solid #ccc}
tbody td:last-child		{	border-right:1px solid black}

tbody tr.odd th, 
tbody tr.odd td			{	background-color:#eee; color:#222}

tfoot td,
tfoot th				{	border:none; padding:0.5em 1em 2em; font-size:130%}
tfoot th				{	text-align:right}

table a:link	{	line-height:1em; color:black; display:inline-block; padding:3px 7px; margin:-3px -7px}
table a:visited	{	color:#555}
table a:hover	{	text-decoration:none; background:black; color:white; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px}

::-moz-selection{	background:#202020; color:white}
::selection		{	background:#202020; color:white}

thead ::-moz-selection, 
tfoot ::-moz-selection	{	background:white; color:#202020}
thead ::selection, 
tfoot ::selection		{	background:white; color:#202020}